<%# delete me %>
<div class="border border-red-400 w-max p-4">
  *Delete Me*
  <br> ** Add below features **
  <br> * Select a category
  <br> ✓ Only My Categories
  <br> * Select number of questions
  <br> 3 | 5 | 10 | 20
  <br> * Time Limit
  <br> "Take my quiz" | "Take random quiz"
</div>
<%# delete me end %>

<%# We have to build a query essentially %>
<%# Add category id to permitted nested attrs %>
<%# Add category + id as a field %>

<%= form_with model: @quiz do |quiz_form| %>
  <%# optional category id %>
  <%# maybe have 0 be no category (or random category) %>
<% end %>