<main class="grid gap-10 p-10">
  <h1 class="tracking-normal font-extrabold p-6 text-4xl bg-black text-yellow-50">Simple Language App!</h1>
  <%= render "form" %>
  <h2>Categories and questions</h2>
  <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
    <ol>
      <% category.questions.each do |q| %>
        <li>
          <%= q.body %>
          <%= q.answer %>
        </li>
      <% end %>
    </ol>
  <% end %>
</main>


<div
  data-controller="hello"
  >
</div>
