<% flash.each do |type, msg| %>
  <div class="">
    <%= msg %>
  </div>
<% end %>
<div class="flex h-4">
  <div class="flex-1 bg-gradient-to-r from-blue-900 to-sky-600"></div>
  <div class="flex-1 bg-stone-50"></div>
  <div class="flex-1 bg-gradient-to-r from-red-800 to-rose-600"></div>
</div>

    <%# class="p-8 bg-gradient-to-r from-sky-50 to-sky-100" %>

